# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
.venv/
.env
venv/
parsing.ipynb
# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Distribution
build/
dist/
*.egg-info/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Dependency lock files (optional)
uv.lock
poetry.lock
Pipfile.lock
